<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div class="container-flex content">
      <div class="row">
        <!-- sidebar -->
        <!-- <div class="col-md-2 sidebar">
          <h3 class="text-centered">Coming Soon</h3>
          <div class="card" style="width: 18rem">
            <img
              src="../../../assets/tu jhoothi.jfif"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Tu jhoothi mein makkar</h5>
              <p></p>
              <p class="card-text"></p>
              <a routerLink="" class="btn btn-primary"
                >BUY NOW &nbsp; <i class="bi bi-bag"></i
              ></a>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img
              src="../../../assets/tu jhoothi.jfif"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Tu jhoothi mein makkar</h5>
              <p></p>
              <p class="card-text"></p>
              <a routerLink="" class="btn btn-primary"
                >BUY NOW &nbsp; <i class="bi bi-bag"></i
              ></a>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img
              src="../../../assets/tu jhoothi.jfif"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Tu jhoothi mein makkar</h5>
              <p></p>
              <p class="card-text"></p>
              <a routerLink="" class="btn btn-primary"
                >BUY NOW &nbsp; <i class="bi bi-bag"></i
              ></a>
            </div>
          </div>
        </div> -->
        <!-- image -->
        <div class="col-md-12">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="true"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img
                  src="https://img.ticketnew.com/tn/offer_banner/Tu_jhoothi_main_makkaar/1920_400.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <img
                  src="../../../assets/pathu.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <img
                  src="../../../assets/2361.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!-- recommended movies -->
        <div class="container-md">
          <h4 class="text-centered mt-5 ms-5">Recommended Movies</h4>

          <!-- card group -->
          <div class="row g-4 mb-5 mt-2">
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
              <div class="card h-80 w-60">
                <img
                  src="../../../assets/pathu.jpg"
                  class="card-img-top"
                  alt="pathu thala"
                />
                <div class="card-body">
                  <h5 class="card-title">pathu thala</h5>
                  <p class="card-text">Tamil | U/A</p>
                </div>
                <div class="card-footer">
                  <p class="text-centered">Book</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card h-80 w-60">
                <img
                  src="../../../assets/ponniyin selvan.jpg"
                  class="card-img-top"
                  alt="ponniyin selvan"
                />
                <div class="card-body">
                  <h5 class="card-title">ponniyin selvan</h5>
                  <p class="card-text">Tamil | U/A</p>
                </div>
                <div class="card-footer">
                  <p class="text-centered">Book</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card h-80 w-60">
                <img
                  src="../../../assets/kuthuvilaku.jpg"
                  class="card-img-top"
                  alt="kuthuvilaku"
                />
                <div class="card-body">
                  <h5 class="card-title">kuthuvilaku</h5>
                  <p class="card-text">Tamil | U/A</p>
                </div>
                <div class="card-footer">
                  <p class="text-centered">Book</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
